.modal {
  position: absolute;
  z-index: 5;
  top: 100px;
  left: 40%;
  width: 300px;
  padding: 10px;
  background: rebeccapurple;
  display: grid;
  grid-template-rows: repeat(3, auto);
  text-align: center;
  
  &__wrapper {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, .5);
  }

  &__actions{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}