.item{
  position: relative;
  min-width: 200px;
  max-width: 270px;
  min-height: 200px;
  padding: 5px;
  text-align: center;
  background-color: rebeccapurple;
  color: ivory;
  border-radius: 20px;

  &-quantity {
    font-size: 15px;
    font-weight: normal;
  }

  &-name{
    font-weight: bold;
  }

  &-art{
    font-size: 15px;
    font-weight: normal;
  }

  &-color{
    font-size: 15px;
    font-weight: normal;
  }

  &-price{
    font-size: 20px;
    font-weight: bold;
  }
  &-image img{
    transition: all 0.5s ease;
  }

  &-image img:hover {
    transform: scale3d(1.2, 1.2, 1.2);
  }
}

.fa-star{
  cursor: pointer;
  position: relative;
}
.fa-star:hover {
  color: gold;
}

.fa-star:after {
  content: 'Add to Favs';
  position: absolute;
  display: none;
  animation: smooth-leave 0.5s ease ;
  left: -30px;
  top: 35px;
  color: gold;
  width: 100px;
  font-size: 14px;
  font-weight: bold;
}

.fa-star:hover::after {
  display: block;
  animation: smooth-appearance 0.5s ease;
}

@keyframes smooth-appearance {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1.1);
  }
}

.active-star:hover {
  color: black;
}

.active-star:after {
  content: 'Remove from Favs';
  position: absolute;
  display: none;
  animation: smooth-leave 0.5s ease ;
  left: -45px;
  top: 35px;
  color: gold;
  width: 130px;
  font-size: 14px;
  font-weight: bold;
}

.active-star:hover::after {
  display: block;
  animation: smooth-appearance 0.5s ease;
}