.header{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;

  &-link {
    cursor: pointer;
    transition: all 0.5s ease;
  }

  &-link:hover {
    color: rebeccapurple;
  }

  &-slogan {
    justify-self: start;
    color: rebeccapurple;
  }

  &-wrapper{
    padding: 20px 50px;
    font-size: 30px;
    font-weight: bold;
    background-color: ivory;
    opacity: 0.8;
  }
}

.header > a {
  text-decoration: none;
  color: black;
}

