.sidebar{
  position: absolute;
  top: 10px;
  border: 1px solid black;
  box-shadow: 0 0 20px rgba(0,0,0,.7);
  background-color: rebeccapurple;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  grid-gap: 5px;
  transition: all 0.6s ease;

  &__purchase {
    font-size: 20px;
    font-weight: bold;
    width: 10px;
    padding-left: 15px;
    word-wrap: break-word;
    color: white;
    cursor: pointer;
  }

  &--active {
    right: -10px;
  }

  &--passive {
    right: -200px;
  }
}

.form{
  width: 200px;
  padding: 15px 0;
}