.gogi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.count-value {
    font-size: 18px;
}
.clicker {
    outline: none;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    background: lightcoral;
    font-size: 18px;
}