.form {
  display: flex;
  align-items: center;
}

.cart-form {

  &__error {
    font-size: 11px;
    color: red;
    margin: 0;
    padding-top: 5px;
  }

  &__input {
    margin-top: 10px;
    outline: none;
    border-radius: 5px;
    background-color: ivory;
    font-size: 14px;
    padding: 2px 5px;

    &:focus {
      box-shadow: 0 0 5px rgba(0,0,0,.5);
    }
  }

  &__submit {
    margin-top: 15px;
    color: rebeccapurple;
    padding: 5px 20px;
    background-color: gold;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
  }
}