.item{
  position: relative;
  min-width: 200px;
  min-height: 200px;
  padding: 5px;
  text-align: center;
  background-color: rebeccapurple;
  color: ivory;
  border-radius: 20px;

  &-name{
    font-weight: bold;
  }

  &-art{
    font-size: 15px;
    font-weight: normal;
  }

  &-color{
    font-size: 15px;
    font-weight: normal;
  }

  &-price{
    font-size: 20px;
    font-weight: bold;
  }
}

.fa-star{
  transition: all 0.5s ease;
  cursor: pointer;
  position: relative;
}
.fa-star:hover {
  color: gold;
}

.fa-star:after {
  content: 'Add to Favs';
  position: absolute;
  display: none;
  left: -30px;
  top: 35px;
  color: gold;
  width: 100px;
  font-size: 14px;
  font-weight: bold;
}

.fa-star:hover::after {
  display: block;
}