.modal {
  margin: 200px auto;
  width: 300px;
  background-color: coral;
  color: white;
  display: grid;
  grid-template-rows: 20% 50% 30%;

  &__wrapper {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, .5);
  }
  &__close-btn {
  position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;

    &::before {
      position: absolute;
      content: '';
      left: 8px;
      top: 0;
      width: 1px;
      height: 16px;
      background: white;
      transform: rotate(45deg);
    }
    &::after {
      position: absolute;
      content: '';
      left: 8px;
      top: 0;
      width: 1px;
      height: 16px;
      background: white;
      transform: rotate(-45deg);
    }
  }
  &__header {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orangered;
  }
  &__content {
    margin: 0;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
  &__actions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}