.btn{
  transition: all 0.5s ease;
  position: relative;
  padding: 10px 15px;
  border-radius: 5px;
  color: rebeccapurple;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  outline: none;

  &:before {
    transition: all 0.5s ease;
    content: '';
    display: block;
    position: absolute;
    width: 102%;
    height: 0;
    left: -1px;
    top: -1px;
    background-color: black;
    opacity: 0.1;
  }

  &:hover {
    color: orangered;
    transform: scale(1.05);
  }

  &:hover::before {
    height: 102%;
    border-radius: 5px;
  }
}