.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;

  &__field {
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    padding: 10px 25px;
    margin-bottom: 15px;
  }
  
  &__btn {
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 16px;
    color: #fff;
    background-color: #666;
  }
}