.page-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -8px 20px 0 #7f7f7f;

  &__img {
    width: 70px;
    & img {
      width: 100%;
    }
  }

  &__btn {
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 16px;
    color: #fff;
    background-color: #666;
  }
}