#root {
  background-image: url("http://localhost:3000/images/bgr.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: Roboto, sans-serif;
}